nav {
    background-color: rgb(255, 255, 255);
    height: 44px;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
}
nav div{
    height: 100%;
    display: flex;
    align-items: center;
}
nav > div > img {
    height: 70%;
}
nav img {
    height: 200%;
}
nav .menu > a{
    padding: 0 8px;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: start;
    z-index: 99;
    position: fixed;
    background-color: white;
    top: 44px;
    width: 100px;
    transform: translateX(-100%);
    transition-duration: 50ms;
}
@media (min-width :360px) {
    .menu {
        display: flex;
    }
    .menu-trigger {
        display: none;
    }
}

